h1 {color:green;font-family: cursive;}
a:hover { 
    background-color: yellow;
}
html{color:black;}
body{background-color: lightblue}
body{font-family: 'Open Sans Condensed', sans-serif;}
img{ border: 15px solid white; }
li{font-family: cursive;}
